<!-- 메인 페이지 템플릿 -->
{% extends 'base.html' %}
{% block title %}메인 페이지{% endblock %}
{% block head %}
    <script src="{{ url_for('static', path='main.js') }}"></script>
{% endblock %}
{% block content %}
<h2 class="main-title">로그인</h2>
<div class="main-desc">Kaikas 지갑을 연결하여 NFT 서비스를 이용하세요</div>
<a href="javascript:void(0)" onclick="connectKaikas()" style="margin-bottom: 18px; display: block;">            <img src="{{ url_for('static', path='kaia_wallet.png') }}" alt="Kaikas Wallet" class="main-kaikas-img"></a>
<button class="connect-wallet-btn main-kaikas-btn" onclick="connectKaikas()">Kaikas 지갑 연결</button>
{% endblock %}